/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #ff0070;
  --decorated-zone-color: #ff0070;
  --main-title-color: #db00ff;
  --title-text-block-color: #000028;
  --text-block-color: #f1b2ce;
  --main-title-block-gap: 10px;
  --main-text-block-gap: 20px;
  --main-font-size: 18px;
  --main-font-weight: 400;
  --main-line-height: 23.4px;
  --main-font-style: normal;
  --main-padding: 10px;
  --main-font: "IBM Plex Mono", "Liberation Mono", monospace;
  --background-color: #000028;
  --main-background-image: url(../images/cover-image-dark.png);
}
